




.showInfo {
  display: flex;
  flex-direction: column;
}

.newDoctor {
  background-color: silver;
  margin-bottom: 50px;
  margin-left: 10vw;
  width: 85vw;
  p {
    margin-top:3px;
    margin-bottom:3px;
  }
  .info{
    margin-left: 5%;}
}
